# Ignore everything
*

# Whitelist anything that's a directory
!*/

# ignore certain directory
test/
sandbox/
workspace/

# Add all the file types I'm interested in.
!.gitignore
!*.py
!*.cpp
!*.h
!*.sh
